### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [12]:
RowRow = "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."
print("The number of occurences of \"row\" in \"", RowRow, "\" is: ",RowRow.count("row"),sep="")

The number of occurences of "row" in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek." is: 4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [28]:
# Get the inputs
name=input("Enter a name:")
color = input("and a color:")
animal = input("and an animal:")

# Format and print the output
print(f"{name.capitalize()} had a littel {animal}.")
print(f"It was {color} as snow.")
print(f"And everywhere that {name.capitalize()} went, the {animal} was sure to go.")

Enter a name: mary
and a color: white
and an animal: lamb

Mary had a littel lamb.
It was white as snow.
And everywhere that Mary went, the lamb was sure to go.

3. Print 3.14159 in a scientific number notation

In [31]:
print(f"{3.14159:e}")

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [34]:
print("{:.3f}".format(3.1559))

3.156

5. Print 1589.92341 in a scientific number notation to the power of 3

In [35]:
print("{:e}".format(1589.92341))

1.589923e+03

In [36]:
print("{:e}".format(1589.92341**3))

4.019098e+09

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [39]:
amt=float(input("Enter the amount:"))
rate=float(input("Enter a tax rate in percentage:"))
tax=amt*rate/100
total=amt+tax

Enter the amount: 29.95
Enter a tax rate in percentage: 6.2

In [51]:
print("Amount:","${:.2f}".format(amt))
print("Tax rate:","{:.2%}".format(tax))
print("Total:","${:.2f}".format(total))

Amount: $29.95
Tax rate: 185.69%
Total: $31.81